extends layout

block content
    
  p.
    Hér er gaman að vera okei? Myndir Bíó Leika Trailer JEI
    jbdjbnjgdnjgfkg fgn gn
     hgf h
     n g
     h ng 
     n
     n
     vb nvbn
     v
     m
     ghmjgnggghbgfn gnfgnfgngmnv
    
