extends layout

block content
    
  h4 Hér deila notendur bæði æfingum sínum og mataræði með öðrum notendum. 
  h4 Markmið síðunar er að hvetja notendur til að borða holt og hreyfa sig, 
  h4 þar sem þeir geta komið hingað inn til að fá hugmyndir að hollu mataræði, 
  h4 uppskriftum og æfingum.
  h4 Eina sem þú þarft að gera er að skrá þig!!
    
  
