extends layout

block content
    
  section.col-md-6
    h2 Velkomin á BíóSpjallið!
    p Hér getur þú skráð þig inn og fylgst með og tekið þátt í umræðum um hinar 
    p ýmsu bíómyndir og leikara. 
  
  section.col-md-6
    img(src='/images/movie.jpg' alt='popcorn, soda and more')
  
  ul.list-inline.col-md-6.movielinks
    li: a(href='http://imbd.com')
      img(src='/images/imbd.png')
    li: a(href='http://sambioin.is')
      img(src='/images/sambio.png')
    li: a(href='http://smarabio.is')
      img(src='/images/smarabio.jpg')
    li: a(href='http://smarabio.is')
      img(src='/images/haskolabio.jpg')
    li: a(href='http://kvikmyndir.is')
      img(src='/images/kvikmyndir.png')
