extends layout

block content
    
  section.col-md-6
    h2 Velkomin á BíóSpjallið!
    p Hér getur þú skráð þig inn og fylgst með og tekið þátt í umræðum um hinar 
    p ýmsu bíómyndir og leikara. 
  
  section.col-md-6
    img(src='/images/movie.jpg' alt='popcorn, soda and more')
  
  div.container-fluid
    a.col-xs-6.col-sm-4.col-md-2.movielinks(href='http://smarabio.is')
      img(src='/images/haskolabio.jpg', alt='Háskólabíó logo')
    a.col-xs-6.col-sm-4.col-md-2.movielinks(href='http://smarabio.is')
      img(src='/images/smarabio.jpg', alt='Smárabíó logo')
    a.col-xs-6.col-sm-4.col-md-2.movielinks(href='http://kvikmyndir.is')
      img(src='/images/kvikmyndir.png', alt='Kvikmyndir logo')
    a.col-xs-6.col-sm-4.col-md-2.movielinks(href='http://laugarasbio.is')
      img(src='/images/laugarasbio.png', alt='Laugarás logo')
    a.col-xs-6.col-sm-4.col-md-2.movielinks(href='http://sambioin.is')
      img(src='/images/sambio.png', alt='Sambíó logo')
    a.col-xs-6.col-sm-4.col-md-2.movielinks(href='http://bioparadis.is')
      img(src='/images/bioparadis.png', alt='Bíó Paradís logo')
