extends layout

block content
    
  section.col-md-6
    h2 Velkomin á BíóSpjallið!
    p Hér getur þú skráð þig inn og fylgst með og tekið þátt í umræðum um hinar 
    p ýmsu bíómyndir og leikara. 
  
  section.col-md-6
    img(src='/images/movie.jpg' alt='popcorn, soda and more')
