doctype html
html(lang="is")
  head
    title= title
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
    link(rel='stylesheet' href='/dist/stylesheets/styles.css')
  
  body
      
    header
      
      .left
        h1 Svalldórunn 
        ul.list-inline
          if (loggedin == false)
            li: a(href='/' class='link').btn FORSÍÐA
            
        ul.list-inline
          if (loggedin == true)
            li: a(href='/profile/#{usern}' class='link').btn PRÓFÍLL
            li: a(href='/threads' class='link').btn ÞRÆÐIR
      
      .right
        ul.list-inline
          if (loggedin == true)
            li: a(href='/logout' class='link').btn ÚTSKRÁ
          if (loggedin == false)
            li: a(href='/login' class='link').btn INNSKRÁ
            li: a(href='/register' class='link').btn NÝSKRÁ
          
      
    main      
      block content
    
  script(src="/javascripts/frontend.js")
  
  footer.site-footer.content
      .socials.content
          a.socialslink(href='http://facebook.com')
            img(src='/images/facebook.png', alt='Circular, white Facebook logo')
            | Facebook
          |         
          a.socialslink(href='http://linkedin.com')
            img(src='/images/linkedin.png', alt='Circular, white Linkedin logo')
            | Linkedin
          |         
          a.socialslink(href='http://twitter.com')
            img(src='/images/twitter.png', alt='Circular, white Twitter logo')
            | Twitter
          |         
          a.socialslink(href='http://googleplus.com')
            img(src='/images/googleplus.png', alt='Circular, white Googleplus logo')
            | Googleplus
